/*global tab styling*/
.tab{
    grid-area: 1/6/17/12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(32, 11.2px);
    column-gap: 10px;
}

/*personal info*/
.tab, .prev{
    display: none;
}

.tab1{
    display: grid;
}

.person-header{
    grid-area: 4/1/6/4;
    font-size: 30px;
    font-weight: 700;
    color: #082b59;
}

.person-text{
    grid-area: 8/1/9/4;
    font-size: 13px;
    color: #b8b9bc;
}

.tab1 label{
    font-size: 14px;
    color: #082b59;
}
.tab1 input{
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #dedde1;
    cursor: pointer;
}

#name:hover, #email:hover, #phone:hover{
    border-color: #655cc5;
}

.error{
    font-size: 14px;
    justify-self: end;
    color: #d84357;
}

.name{
    grid-area: 13/1/14/2;
}

.name-error{
    grid-area: 13/2/14/4;
}

#name{
    grid-area: 15/1/18/4;
}

.email{
    grid-area: 19/1/20/2;
}

.mail-error{
    grid-area: 19/2/20/4;
}

#email{
    grid-area: 21/1/24/4;
}

.phone{
    grid-area: 25/1/26/2;
}

.phone-error{
    grid-area: 25/2/26/4;
}

#phone{
    grid-area: 27/1/30/4;
}

/*tab 2 styling*/
.plan{
    border: 1px solid #dcdbe0;
    grid-row: 11/26;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 5fr 1fr 1fr 1fr;
    padding: 10px;
}

.swap{
    border: 1px solid;
    grid-row: 28/31;
    grid-column: 1/4;
    border-radius: 5px;
    background-color: #f8f9fe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch{
    width:40px;
    height: 20px;
    border-radius: 35px;
    background-color: #032a5b;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: justify-content 0.3s ease;
    padding: 0 2px;
    margin: 0 8px;
}

.switch.active {
  justify-content: end;
}
.styleup{
    color: #032a5b;
    font-weight: 300;
}
.switch-btn{
    width: 16px;
    height: 16px;
    background-color: #fffef9;
    border-radius: 50%;
}

.yearly, .monthly{
    font-size: 12px;
    font-weight: 300;
}



.plan:hover{
    cursor: pointer;
    border-color: #5d579c;
    background-color: #f8f9fe;
}
.plan_active{
    cursor: pointer;
    border-color: #5d579c;
    background-color: #f8f9fe;
}
.arcade-name{
    align-self: end;
    color: #082b59;
    font-weight: 500;
}

.price{
    font-size: 13px;
    color: #b4b4be;
}

.icon{
    width: 50px;
}

.free{
    display: none;
    color: #082b59;
    font-size: 13px;
    transition: justify-content 0.3s ease;
}

.display{
    display: block; 
}

/*tab 3 styling*/
.add-ons{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 4fr 1.2fr;
    align-items: center;
    border-radius: 5px;
}

.add-ons:hover{
    border-color: #655cc5;
    cursor: pointer;
}


.add1{
    grid-area: 13/1/19/4;
}

.add2{
    grid-area: 20/1/26/4;
}

.add3{
    grid-area: 27/1/33/4;
}

.add-check{
    width: 20px;
    height: 20px;
    justify-self: center;
    border-radius: 5px;
    cursor: pointer;
}

.checked{
    border-color: #655cc5;
    background-color: #f8f9fe;
}

.add-price{
    color:  #655cc5;
}

.add-s-header{
    font-size: 19px;
    font-weight: 500;
    color: #01193e;
}

.add-s-text{
    font-size: 14px;
    color: #b0b0b8;
}


/*style tab4*/
.bg{
    grid-area: 11/1/30/4;
    background-color: #f8f9fe;
    border-radius: 5px;
}

.total-arcade{
    grid-area: 11/1/17/4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 0 15px;
}

hr{
    grid-area: 18/1/19/4;
    width: 89%;
    height: 0.2px;
    justify-self: center;
    z-index: 2;
    margin: 0 auto;
    height: 0.1px;
}

.total-online{
    grid-area: 18/1/21/4;
}

.total-storage{
    grid-area: 22/1/25/4;
    align-self: center;
}

.total-profile{
    grid-area: 26/1/29/4;
}

.total{
    grid-area: 31/1/32/4;
    margin-top: 20px;
}



.t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.arc-header{
    color: #0c2348;
    font-weight: 500;
    font-size: 18px;
}

.arc-link{
    text-decoration: underline;
}

.arc-link:hover{
    color: #514bad;
    cursor: pointer;
}

.total-text, .arc-link{
    font-size: 16px;
    color: #b2b2ba;
}

.arch-price{
    justify-self: end;
    color: #0c2348;
    font-size: 18px;
    font-weight: 500;
}

.total-price{
    font-size: 15px;
    font-weight: 400;
    color: #3c485b;
}

.t-price{
    color: #4740cb;
    font-size: 20px;
    font-weight: 700;
}

.confirm-hover:hover{
    background-color: #938cfe;
}

/*style tab 5*/
.tab5{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 3fr;
    justify-items: center;
}

.tab5-img{
    background-image: url(/assets/images/icon-thank-you.svg);
    background-repeat: no-repeat;
    width: 100px;
    align-self: end;
    height: 100px;
}

.tab5-header{
    font-size: 30px;
    font-weight: 700;
    color: #002955;
}

.tab5-text{
    text-align: center;
    color: #abacb1;
}

